@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #0074de;
}

ul.dashed > li {
  text-indent: -5px;
  margin-left: 15px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}

@font-face {
  font-family: "Kalam";
  src: url("../public/Kalam/Kalam-Regular.ttf");
}
